---
import Layout from '../layouts/Layout.astro';

interface Props {
}

const {} = Astro.props;
---
<Layout title="About Us - GoEurope">

<div class="mx-44 mt-24 px-24 sm:mt-32 lg:px-8">
    <div id="background" class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20 bg-meeting bg-cover bg-center transition-opacity">
        <div class="absolute inset-0 bg-bluehue opacity-50 mix-blend-multiply"></div>
        <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32">
            <div class="px-6 lg:px-0 lg:pt-4">
                <div class="mx-auto max-w-2xl">
                    <div class="max-w-lg">
                        <h1 class="mt-10 text-4xl font-roboto tracking-tight text-white sm:text-6xl">
                            Who We Are
                        </h1>
                    </div>
                </div>
            </div>

            <div class="mt-20 px-1 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen relative">
            </div>

        </div>
        <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
    </div>

    <div class="relative mx-auto sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-12">
        <div class="relative lg:px-0 lg:pt-4">
            <div class="mx-auto">
                <div class="font-bold">
                    <h3 class="text-2xl font-roboto tracking-tight text-black sm:text-3xl">
                        About Us
                    </h3>
                </div>
            </div>
        </div>

        <div class="md:mx-auto md:max-w-2xl lg:w-screen relative">
            <p class="mt-6 text-s text-black line-clamp-5"><strong>We've built subsidiaries across Asia, Europe, and the Americas – and we can help you do the same. Our partnership of IT enthusiasts, founders, former Big Corp managers, technologists, and sales & market strategists spans both sides of the Atlantic, bringing deep expertise in US and European IT markets and a commitment to providing both strategic guidance and hands-on support.</strong></p>
        </div>

    </div>
    <div class="">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="mt-16 text-3xl font-roboto tracking-tight text-gray-900 sm:text-4xl">
                Meet the Team
            </h2>
        </div>
        <dl class="mt-16 grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-16">
            <div class="relative pl-16 rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 relative bg-white shadow-2xl">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="mb-2 items-center justify-center">
                        <img class="" src="src/images/jurgen.png" alt="">
                    </div>
                    Jürgen Müller
                </dt>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-sm font-medium">
                    Managing Partner
                </dd>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-s flex items-center">
                    <img src="src/images/svg/linkedin.svg" alt="LinkedIn" class="w-4 h-4 mr-2 object-contain">
                    <a href="https://www.linkedin.com/in/jurgenmuller/" class="text-blue-500 hover:text-blue-700 italic underline">
                        CONNECT ON LINKEDIN
                    </a>
                </dd>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-s">
                    With over 30 years in the IT industry, Jürgen has held general management positions Read More
                </dd>
            </div>
            <div class="relative pl-16 rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 relative bg-white shadow-2xl">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="mb-2 items-center justify-center">
                        <img class="" src="src/images/merlin.png" alt="">
                    </div>
                    Merlin Yamssi
                </dt>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-sm font-medium">
                    Partner
                </dd>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-s flex items-center">
                    <img src="src/images/svg/linkedin.svg" alt="LinkedIn" class="w-4 h-4 mr-2 object-contain">
                <a href="https://www.linkedin.com/in/merlinyamssi/" class="text-blue-500 hover:text-blue-700 italic underline">
                    CONNECT ON LINKEDIN
                </a>
            </dd>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-s">
                    Merlin empowers businesses to embrace the future through digital transformation. Read More
                </dd>
            </div>
            <div class="relative pl-16 rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 relative bg-white shadow-2xl">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="mb-2 items-center justify-center">
                        <img class="" src="src/images/robert.png" alt="">
                    </div>
                    Robert Gessner
                </dt>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-sm font-medium">
                    Partner
                </dd>
                <dd class="text-base leading-7 line-clamp-4 text-gray-600 text-s flex items-center">
                    <img src="src/images/svg/linkedin.svg" alt="LinkedIn" class="w-4 h-4 mr-2 object-contain">
                <a href="https://www.linkedin.com/in/robertgessner/" class="text-blue-500 hover:text-blue-700 italic underline">
                    CONNECT ON LINKEDIN
                </a>
            </dd>
                <dd class="text-base leading-7 line-clamp-15 text-gray-600 text-s">
                    Robert has held leadership roles in sales, operations and market strategy across EMEA and global markets. For over 25 years he led international sales planning, sales operations , and strategic Go-to-market programs in international IT companies. He scaled operations and sales processes across EMEA and APAC. Robert is known for driving growth through cross-functional team management and executing high-impact initiatives. Robert lives near Zürich, Switzerland and loves cycling, hiking and cooking for friends and family.  Read Less
                </dd>
            </div>
    </div>
</div>

</Layout>
