---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cookie Policy- GoEurope">
    <div class="text-center bg-[#F2F5F7]">
        <h1 class="text-6xl font-bold py-32">Cookie Policy</h1>
    </div>
    <div class="relative isolate space-y-8 px-4 md:px-16 my-16">
        <section>
            <h2 class="text-3xl font-bold mb-4">What are cookies</h2>
            <p class="text-xl leading-relaxed">Cookies are small text files that websites place on your computer or mobile device when you visit them. They are widely used to make websites work more efficiently, as well as to provide information to the owners of the site.</p>
        </section>
        <section>
            <h2 class="text-3xl font-bold mb-4">Why we use cookies</h2>
            <p class="text-xl leading-relaxed">We use cookies to improve your experience on our website. For example, cookies help us remember your preferences and understand how you use our site. This allows us to customize your experience and make our site more user-friendly.</p>
        </section>
        <section>
            <h2 class="text-3xl font-bold mb-4">Types of cookies we use</h2>
            <p class="text-xl leading-relaxed mb-4">We use different types of cookies on our website:</p>
            <ul class="list-disc list-inside space-y-4">
                <li><strong>Essential Cookies:</strong> These are necessary for the website to function correctly. They enable core functionality such as security, network management, and accessibility.</li>
                <li><strong>Analytics Cookies:</strong> These help us understand how our website is being used. They collect information about how visitors interact with our site, which pages they visit most, and if they encounter any errors. This helps us improve the site's performance and design.</li>
            </ul>
        </section>
        <section>
            <h2 class="text-3xl font-bold mb-4">How to manage cookies</h2>
            <p class="text-xl leading-relaxed">You can control and manage cookies in various ways, including deleting or blocking them through your browser settings. Please note that deleting or blocking cookies may affect your experience on our site and some features may not work correctly.</p>
        </section>
        <section>
            <h2 class="text-3xl font-bold mb-4">Contact Us</h2>
            <p class="text-xl leading-relaxed">If you have any questions about our use of cookies, please contact us at <a href="mailto:Team@goeuropeconsulting.com" class="underline">Team@goeuropeconsulting.com</a>.</p>
        </section>
    </div>
</Layout>

