---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint - GoEurope">
    <div class="text-center bg-[#F2F5F7]">
        <h1 class="text-6xl font-bold py-32">Imprint</h1>
    </div>

    <div class="relative isolate space-y-8 px-72 my-16 sm:px-6">
        <div class="space-y-4">
            <div class="text-3xl font-bold">
                Information according to § 5 TMG (Germany)
            </div>
            <div class="text-xl">
                <strong>Company Name:</strong> Go Europe Consulting
            </div>
            <div class="text-xl">
                <strong>Represented by a partnership of:</strong> Dr. Jürgen Müller
                (Germany), Merlin Yamssi (USA), Robert Gessner (Switzerland)
            </div>
            <div class="text-xl">
                <strong>Email:</strong> team@goeuropeconsulting.com
            </div>
            <div class="text-xl">
                <strong
                    >VAT identification number according to §27 a VAT Act:</strong
                > DE299971843
            </div>
        </div>

        <div class="space-y-4">
            <div class="text-3xl font-bold">
                Responsible for Content according to § 55 Abs. 2 RStV (Germany)
            </div>
            <div class="text-xl">
                <strong>Name:</strong> Dr. Jürgen Müller
            </div>
            <div class="text-xl">
                <strong>Email:</strong> juergen@goeuropeconsulting.com
            </div>
            <div class="text-xl">
                <strong>Address:</strong> Akazienstrasse 47, 40627 Düsseldorf, Germany
            </div>
        </div>

        <div class="space-y-4">
            <div class="text-3xl font-bold">Liability for Content</div>
            <div class="text-xl">
                As service providers, we are liable for our own content on these
                pages in accordance with § 7 Abs.1 TMG under the laws of
                Germany. However, according to §§ 8 to 10 TMG, we are not
                obligated to monitor transmitted or stored external information
                or to investigate circumstances indicating illegal activity.
                Obligations to remove or block the use of information under
                general law remain unaffected.
            </div>
        </div>

        <div class="space-y-4">
            <div class="text-3xl font-bold">Liability for Links</div>
            <div class="text-xl">
                Our offer contains links to external websites of third parties,
                on whose contents we have no influence. Therefore, we cannot
                assume any liability for these external contents. The respective
                provider or operator of the pages is always responsible for the
                content of the linked pages.
            </div>
        </div>

        <div class="space-y-4">
            <div class="text-3xl font-bold">Copyright</div>
            <div class="text-xl">
                The content and works created by the site operators on these
                pages are subject to German copyright law. Contributions of
                third parties are marked as such. The reproduction, processing,
                distribution, and any kind of exploitation outside the limits of
                copyright law require the written consent of the respective
                author or creator. Downloads and copies of this site are only
                permitted for private, non-commercial use.
            </div>
        </div>
    </div>
</Layout>
