---
interface Props {
}

const {} = Astro.props;
---

<div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-32 lg:px-8">
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 relative bg-white shadow-2xl text-center">
                    add logos
                </div>
                    
                </dt>
            </div>
            <div class="relative pl-16">
                <div class="mx-auto max-w-2xl">
                    <h2 class="mt-2 text-3xl font-roboto font-Bold tracking-tight text-gray-900 sm:text-3xl">
                        European Market Benefits
                    </h2>
                </div>
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <ul style="list-style-type: square">
                        <li>Robust growing IT Market driven by digital transformation.</li>
                        <p class="text-green-400 text-xs">IT spending expected to grow 9% in 2025</p>
                        <li>Large pool of very skilled workforce.</li>
                        <p class="text-green-400 text-xs">Large pool of very skilled workforce.</p>
                        <li>Significant number of global brands.</li>
                        <p class="text-green-400 text-xs">25% of Top 100 global brands</p>
                        <li>Borderless market of 27 EU countries.</li>
                        <p class="text-green-400 text-xs">EU GDP representing one-sixth of global economy and 14% of world’s trade</p>
                        <li>EU GDP representing one-sixth of global economy and 14% of world’s trade</li>
                        <p class="text-green-400 text-xs">UK, Switzerland, Denmark</p>
                    </ul>
                </dt>
            </div>
        </dl>
    </div>

    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
                <div class="mx-auto max-w-2xl">
                    <h2 class="mt-2 text-3xl font-roboto font-Bold tracking-tight text-gray-900 sm:text-3xl">
                        Your Company’s Opportunites
                    </h2>
                </div>
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <ul style="list-style-type: square">
                        <li>Capitalize on significant growth potential.</li>
                        <li>Hedge against turndowns in your home market.</li>
                        <li>Better position your company to sell to global accounts.</li>
                        <li>Improve regional market penetration with a European team.</li>
                        <li>Elevate your brand onto the global stage.</li>
                        <li>Access an international talent pool.</li>
                    </ul>
                </dt>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="items-center justify-center">
                        <img class="" src="images/balcony.png" alt="">
                    </div>
                </div>
                    
                </dt>
            </div>
        </dl>
    </div>
</div>