---
interface Props {
}

const {} = Astro.props;
---

<div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-32 lg:px-8">
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
                <div class="mx-auto max-w-2xl">
                    <h2 class="mt-2 text-3xl font-roboto font-Bold tracking-tight text-gray-900 sm:text-3xl">
                        What Makes Us Different
                    </h2>
                </div>
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <ul style="list-style-type: square">
                        <li>We have firsthand experience in Europe, North America, and Asia.</li>
                        <li>HOur services are end-to-end: we support the implementation of your plans</li>
                        <li>We leverage our strong relationships with end users and partners.</li>
                        <li>We follow a data-driven approach </li>
                        <li>We help you build performance driven local teams.</li>
                    </ul>
                </dt>
            </div>
            <div class="relative">
                <div class="absolute inset-0 bg-bluehue opacity-50 mix-blend-multiply rounded-2xl"></div>
                    <div class="items-center justify-center rounded-2xl">
                        <img class="" src="src/images/chess.png" alt="">
                    </div>                    
            </div>
        </dl>
    </div>
</div>