---
interface ExpertiseItem {
  title: string;
  description: string;
  image: string;
}

const expertiseItems: ExpertiseItem[] = [
  {
    title: "IT Industry Experts with Proven Experience",
    description:
      "We are a group of IT enthusiasts, founders, former Big Corp managers, technologists, global sales executives, and market strategists.",
    image: "images/svg/it-industry.svg",
  },
  {
    title: "Global Perspective, Local Expertise",
    description:
      "We live and work on both sides of the Atlantic, knowing the ins and outs of the North American and European IT markets.",
    image: "images/svg/global.svg",
  },
  {
    title: "Scaling Businesses Across Borders",
    description:
      "We have built and expanded European and Asian subsidiaries for our former employers.",
    image: "images/svg/scaling.svg",
  },
  {
    title: "At the Intersection of Business and Technology",
    description:
      "We have deep knowledge at the intersection of business and technology. We understand how your customers are leveraging technology for business goals.",
    image: "images/svg/intersection.svg",
  },
];
---

<div class="mx-auto sm:mt-32 py-4 lg:px-8 bg-[#F2F5F7]">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-16 max-w-2xl lg:text-center">
        <h2 class="text-4xl font-bold font-stretch-extra-expanded text-gray-900">
          Our Expertise
        </h2>
      </div>
      <div
        class="my-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4 lg:gap-y-16"
      >
        {expertiseItems.map((item) => (
          <div
            class="relative rounded-xl ring-gray-900/10 sm:p-6 relative bg-white shadow-2xl"
          >
            <dt class="text-xl font-bold leading-7 text-gray-900">
              <div>
                <img class="h-auto w-auto mb-8" src={item.image} alt={item.title} />
              </div>
              {item.title}
            </dt>
            <dd class="mt-4 text-base leading-7 text-gray-600">{item.description}</dd>
          </div>
        ))}
      </div>
      <div class="mb-16 lg:justify-center text-center">
        <button
          class="bg-[#B6CB23] hover:bg-green-700 text-white font-bold py-3 px-4 rounded-xl"
        >
          <a
            href="/about"
            class="text-sm font-roboto leading-6 text-[#1B4671]"
            >More About Us <span aria-hidden="true">&rarr;</span></a
          >
        </button>
      </div>
    </div>
  </div>
