---
interface Props {
}

const {} = Astro.props;
---

<div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-32 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
        <!-- <h2 class="text-base font-semibold leading-7">
            <span class=" text-white px-4 py-1 rounded-full">Faster communication</span>
        </h2> -->
        <h2 class="mt-2 text-3xl font-roboto tracking-tight text-gray-900 sm:text-4xl">
            What we can do for you
        </h2>
        <!-- <p class="mt-6 text-lg leading-8 font-nunito text-gray-600">
            Quis tellus eget adipiscing convallis sit sit eget aliquet
            quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.
        </p> -->
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-3 lg:gap-y-16">
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                            <image href="src/images/svg/assessment.svg" width="24" height="24" />
                        </svg>
                    </div>
                    Assessment & Planning
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                    add Learn more
                </dd>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                             <image href="src/images/svg/product.svg" width="24" height="24" />
                        </svg>
                    </div>
                    Product and Technology Advisory
                </dt>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                             <image href="src/images/svg/sales.svg" width="24" height="24" />
                        </svg>
                    </div>
                    Sales & Go-to-Market
                </dt>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                             <image href="src/images/svg/marketing.svg" width="24" height="24" />
                        </svg>
                    </div>
                    Marketing and Pipeline Building
                </dt>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                             <image href="src/images/svg/recruit.svg" width="24" height="24" />
                        </svg>
                    </div>
                    Recruiting and Talent Acquisition
                </dt>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg">
                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor"
                             aria-hidden="true">
                             <image href="src/images/svg/legal.svg" width="24" height="24" />
                        </svg>
                    </div>
                    Legal & Regulatory Navigation
                </dt>
            </div>
        </dl>
    </div>
</div>