---
interface Props {}

const {} = Astro.props;
---

<footer
    aria-labelledby="footer-heading"
    class="relative border-t border-gray-900/10 py-16 bg-black text-white mt-4 mb-4 px-4"
>
    <div id="full" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 max-w-7xl mx-auto">
        <!-- Image -->
        <div class="flex md:col-span-2">
            <a href="/" class="">
                <img
                    class="h-auto max-w-full"
                    src="/images/goeuropelogo.png"
                    alt="Company name"
                />
            </a>
        </div>
        <div class="grid grid-cols-1 gap-4 md:col-span-1">
                <div id="list" class="grid grid-cols-1 md:grid-cols-2 gap-8">
                    <h3 class="text-2xl font-bold leading-7 text-white-500 md:col-span-2">
                        Menu
                    </h3>
                    <ul role="list" class="space-y-4 mx-2">
                        <li >
                            <a
                                href="/"
                                class="text-l leading-6 text-gray-300 hover:text-gray-500"
                                >Home</a
                            >
                        </li>
                        <li>
                            <a
                                href="/about"
                                class="text-l leading-6 text-gray-300 hover:text-gray-500"
                                >About Us</a
                            >
                        </li>
                        <li>
                            <a
                                href="/contact"
                                class="text-l leading-6 text-gray-300 hover:text-gray-500"
                            >
                                Contact Us
                            </a>
                        </li>
                    </ul>

                    <ul class="space-y-4 mx-2">
                        <li>
                            <a
                                href="/privacy-policy"
                                class="text-l leading-6 text-gray-300 hover:text-gray-500"
                            >
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a
                                href="/imprint"
                                class="text-l leading-6 text-gray-300 hover:text-gray-500"
                            >
                                Imprint
                            </a>
                        </li>
                        <li>
                            <a
                                href="/cookie-policy"
                                class="text-l leading-6 text-gray-300 hover:text-gray-500"
                            >
                                Cookie Policy
                            </a>
                        </li>
                    </ul>
                </div>
        </div>                
        <div class="maw-w-none md:col-span-1">
                    <ul role="list">
                        <li class="w-full">
                            <div>
                                <a
                                    href="/contact"
                                    class="bg-[#B6CB23] text-white w-full md:px-10 px-4 py-4 rounded-md text-base font-normal hover:bg-green-600 transition duration-300 whitespace-nowrap"
                                    >Contact Us <span aria-hidden="true"
                                        >→</span
                                    ></a
                                >
                            </div>
                        </li>
                   </ul>
        </div>
    </div>
    <!-- Border and Copyright Section -->
    <hr class="border-gray-700 mt-12 max-w-7xl mx-auto" />
    <div class="mt-6 text-center text-sm text-gray-300 p-2">
        &copy; Copyright All right reserved
    </div>
</footer>
