---
interface Props {}

const {} = Astro.props;
---

<div class="relative isolate overflow-hidden">
    <!-- Image -->
            <img
                id="background-image"
                src="images/paris.png"
                alt="Background"
                class="w-full h-auto object-cover transition-opacity duration-1000 ease-in-out"
            />

        <!-- Overlay -->
        <div class="absolute inset-0">
            <img
            id="background-image"
            src="images/blue-hue.png"
            alt="Background"
            class="absolute w-full h-auto object-cover"
        />
            <div class="absolute max-w-2xl mx-48 my-48">
                <h1
                    class="text-2xl font-black tracking-tight text-white sm:text-6xl"
                >
                    Your Partner in Entering the European IT Market
                </h1>
                <p class="mt-6 text-lg font-roboto text-white line-clamp-2">
                    <strong
                        >We advise and assist IT companies in establishing and
                        expanding their presence in the European Market.</strong
                    >
                </p>
            </div>
        </div>
    </div>

    <script type="module" client:load>
        const images = [
            "images/paris.png",
            "images/london.png",
            "images/berlin.png",
            "images/stockholm.png",
            "images/brussels.png",
            "images/amsterdam.png",
            // Add more images as needed
        ];
        let currentIndex = 0;
        const backgroundImageElement =
            document.getElementById("background-image");

        function changeBackground() {
            // Add opacity class to make the current image fade out
            backgroundImageElement.classList.add("opacity-0");

            setTimeout(() => {
                currentIndex++;
                if (currentIndex >= images.length) {
                    currentIndex = 0;
                }
                backgroundImageElement.src = images[currentIndex];
                // Remove the opacity class to make the new image fade in
                backgroundImageElement.classList.remove("opacity-0");
            }, 1000); // This time should match the duration of the opacity transition
        }

        // Starts background transition every 4 seconds (includes 1 second for transition duration)
        setInterval(changeBackground, 4000);
    </script>
</div>
