---
interface Props {
}

const {} = Astro.props;
---

<div class="mx-auto mt-12 px-6 sm:mt-32 lg:px-8 bg-[#F7F8F2]">
    <div class="">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="mt-16 text-3xl font-roboto tracking-tight text-gray-900 sm:text-4xl">
                How We Work
            </h2>
        </div>
        <dl class="mt-16 grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-5 lg:gap-y-16">
            <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 bg-white shadow-2xl text-center">
                    <div class="">
                        <svg>
                            <image href="images/svg/workshop.svg" />
                        </svg>
                    </div>
                <dd class="leading-7 line-clamp-4 text-gray-600 text-xs">
                    We closely workshop with you, we are your advisors, providing a receptive ear for your ideas and challenging you.
                </dd>
            </div>
            <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 bg-white shadow-2xl text-center">
                    <div class="">
                        <svg>
                            <image href="images/svg/trust.svg" />
                        </svg>
                    </div>
                <dd class="mt-2 text-base leading-7 line-clamp-4 text-gray-600 text-xs">
                    We build a trustful and personal relationship with you.
                </dd>
            </div>
            <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 bg-white shadow-2xl text-center">
                    <div class="">
                        <svg>
                            <image href="images/svg/service.svg" />
                        </svg>
                    </div>
                <dd class="mt-2 text-base leading-7 line-clamp-4 text-gray-600 text-xs">
                    We follow a flexible approach. You can book our servies individually or as a package.
                </dd>
            </div>
            <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10  bg-white shadow-2xl text-center">
                    <div class="">
                        <svg>
                            <image href="images/svg/performance.svg" />
                        </svg>
                    </div>
                <dd class="mt-2 text-base leading-7 line-clamp-5 text-gray-600 text-xs">
                    We offer to keep a close look at the numbers and to conduct Sales and other KPI performance reviews.
                </dd>
            </div>
            <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10  bg-white shadow-2xl text-center">
                    <div class="">
                        <svg>
                            <image href="images/svg/advice.svg" />
                        </svg>
                    </div>

                <dd class="mt-2 text-base leading-7 line-clamp-5 text-gray-600 text-xs">
                    Certain services, like legal advice, are provided through our network partners.
                </dd>
            </div>
        </dl>
    </div>
</div>