---
interface HowItem {
  description: string;
  image: string;
}

const howItems: HowItem[] = [
  {
    description:
      "We closely workshop with you, we are your advisors, providing a receptive ear for your ideas and challenging you.",
    image: "images/svg/workshop.svg",
  },
  {
    description:
      "We build a trustful and personal relationship with you.",
    image: "images/svg/trust.svg",
  },
  {
    description:
      "We follow a flexible approach. You can book our services individually or as a package.",
    image: "images/svg/service.svg",
  },
  {
    description:
      "We offer to keep a close look at the numbers and to conduct Sales and other KPI performance reviews.",
    image: "images/svg/performance.svg",
  },
  {
    description:
      "Certain services, like legal advice, are provided through our network partners.",
    image: "images/svg/advice.svg",
  },
];
---

<div class="mx-auto py-4 lg:px-8 bg-[#F2F5F7]">
  <div class="mx-auto my-16 max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-16 max-w-2xl lg:text-center">
      <h2 class="text-4xl font-bold font-stretch-extra-expanded text-gray-900">
        How We Work
      </h2>
    </div>
    <div
      class="my-16 grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-5 lg:gap-y-16"
    >
      {howItems.map((item) => (
        <div
          class="relative rounded-xl ring-gray-900/10 p-6 relative bg-white shadow-2xl"
        >
          <div>
            <img class="h-auto w-auto mb-8" src={item.image} alt="How We Work" />
          </div>
          <dd class="mt-4 text-base leading-7 text-gray-600">{item.description}</dd>
        </div>
      ))}
    </div>
  </div>
</div>