<div class="mx-auto max-w-7xl mt-4 mb-4 sm:p-2 px-4">
    <div class="mx-auto my-16 text-center ">
        <h2
            class="text-3xl md:text-4xl font-bold text-gray-900"
        >
            European Market Opportunity at a Glance
        </h2>
    </div>
    <div
        class="mx-auto grid grid-cols-1 lg:grid-cols-3 items-center text-lg sm:px-6 lg:gap-x-16"
    >
        <!-- Left List -->
        <div class="space-y-6 items-start">
            <!-- Adjusted gap between list items -->
            <ul class="text-gray-900  ">
                <li class="py-4">
                    <span class="text-[#B6CB23] text-3xl">2nd</span>
                    <span class="text-[#B6CB23]">largest economy</span> globally
                    <span class="block">after the USA and before China</span>
                </li>
                <li class="py-4">
                    <span class="text-[#B6CB23] text-3xl">745M</span> people in Europe
                    <span class="block"
                        ><span class="text-[#B6CB23] text-3xl">448M</span> in the
                        EU</span
                    >
                </li>
                <li class="my-8">
                    <span class="text-[#B6CB23] text-3xl">Top 5</span> 
                    <span class="text-[#B6CB23]">EU Countries</span>
                    <span class="block"
                        ><span class="text-[#B6CB23] text-3xl">68%</span> of the
                        EU’s</span
                    >
                    <span class="text-[#B6CB23] text-3xl">$20.29T</span> GDP
                </li>
                <li class="my-8">
                    <span class="text-[#B6CB23] text-3xl">Top 6 </span><span
                        class="text-[#B6CB23]">economies:</span
                    > Germany, <span class="block"
                        >UK, France, Italy, Spain,</span
                    >
                    Netherlands
                </li>
                <li class="my-8">
                    <span class="text-[#B6CB23] text-3xl">~ 21%</span> of Global <span
                        class="text-[#B6CB23]"
                        >Fortune 500 </span
                    > companies based in Europe, of which 26 in <span
                    class="text-[#B6CB23]" 
                    >Germany</span>, 25 in <span
                    class="text-[#B6CB23]"
                    >France </span>and 11 in the <span
                    class="text-[#B6CB23]"
                    >UK </span>
                </li>
            </ul>
        </div>

        <!-- Center Image -->
        <div class="flex justify-center">
            <img
                src="images/europe-map.png"
                alt="Map" class="w-full lg:w-[500px] object-contain mx-auto"
            /> 
        </div>

        <!-- Right List -->
        <div class="space-y-6 items-start ">
            <ul class="text-gray-900 text-right">
                  <li class="py-4">
                    <span class="text-[#B6CB23]">IT spending</span> is estimated to reach <span class="text-[#B6CB23] text-3xl">$1.5T</span>
                    <span class="block"
                        >by 2030, <span class="text-[#B6CB23] text-3xl"
                            >31%</span
                        > of the <span class="text-[#B6CB23]">global</span> IT market.</span
                    >
                </li>
                <li class="py-4">
                    <span class="text-[#B6CB23]">Digital transformation</span> spending is expected to
                    grow<span
                        class="block"
                        ><span class="text-[#B6CB23] text-3xl">16.4%</span> CAGR until 2030</span
                    >
                </li>
                <li class="py-4">
                    <span class="text-[#B6CB23]">Enterprise software</span> market growth estimate is <span class="text-[#B6CB23] text-3xl"> 11.7%</span> CAGR until 2030
                    </span>
                </li>
                <li class="py-4">
                    Overall <span class="text-[#B6CB23]">IT service</span> spending expect to grow by <span class="text-[#B6CB23] text-3xl">9.6%</span> CAGR until 2030
                    </span>
                </li>
                <li class="my-8">
                    <span class="text-[#B6CB23] text-3xl">~ 10M </span><span class="text-[#B6CB23]">ICT specialists</span> in the <span class="block">EU alone, growing constantly</span>
                </li>
            </ul>
        </div>
    </div>
</div>
