---
interface Props {}

const {} = Astro.props;
---

<div class="mx-auto max-w-7xl sm:px-6">
    <div class="mx-auto text-center justify-center">
        <h2 class="mt-24 text-4xl font-black">
         Seize the Opportunities - Avoid the Pitfalls
        </h2>
    </div>
    <div class="mx-auto mt-16 max-w-6xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-3">
            <div class="relative">
                <dt class="text-3xl font-semibold leading-7 text-gray-900 font-stretch-extra-expanded">
                    <div class="items-center justify-center">
                        <img class="mb-5" src="images/growth.png" alt="">
                    </div>
                    Growth by Design
                </dt>
                <dd class="mt-5 text-base leading-7 text-gray-600">
                    Europe is the first major international market for U.S. Companies. Well-run SaaS Companies derive about 30% of their global revenue from this region. To generate similar revenue growth within the U.S. , Companies would need to innovate with new products or customer segments.
                </dd>
            </div>
            <div class="relative">
                <dt class="text-3xl font-semibold leading-7 text-gray-900 font-stretch-extra-expanded">
                    <div class="items-center justify-center">
                        <img class="mb-5" src="images/pitfalls.png" alt="">
                    </div>
                    Avoid Common Pitfalls
                </dt>
                <dd class="mt-5 text-base leading-7 text-gray-600 sm:px-6">
                    <ul style="list-style-type: square">
                        <li>Insufficient international management expertise and resources</li>
                        <li>Unawareness of cultural and regulatory differences</li>
                        <li>Inefficiencies caused by poor location choices</li>
                        <li>Difficulties in hiring and managing of local personnel</li>
                        <li>Inadequate preparation leading to poor timing</li>
                    </ul>
                </dd>
            </div>
            <div class="relative">
                <dt class="text-3xl font-semibold leading-7 text-gray-900 font-stretch-extra-expanded">
                    <div class="items-center justify-center">
                        <img class="mb-5" src="images/engage.png" alt="">
                    </div>
                    Engage with Experts
                </dt>
                <dd class="mt-5 text-base leading-7 text-gray-600">
                    Companies need guidance from experts with firsthand European experience. Go Europe Consulting brings invaluable local insights, 
                    estabilshed networks, and the stragic acumen neccessary to accelereate the European growth journey.
                </dd>
            </div>
        </dl>
    </div>
</div>