---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
  title: string;
}

const {title} = Astro.props;
---
<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Dashboard template">
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/logo-64x64.png"/>
  <meta name="generator" content="Dashboard"/>
  <title>{title}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body class="h-full font-nunito">

<div class="bg-white">
  <!-- Header -->
  <div>
    <Header/>
  </div>
  
  <main class="pt-[72px] isolate">
    <slot />
  </main>

  <!-- Footer -->
  <div class="mx-auto mt-32 w-full">
    <Footer/>
  </div>
</div>

</body>
</html>


<script>
  const navBar: HTMLElement = document.getElementById('navBar');
  const closeNavBar = document.getElementById('closeNavBar');
  const openNavBar = document.getElementById('openNavBar');

  closeNavBar.addEventListener('click', toggleMenu);
  openNavBar.addEventListener('click', toggleMenu);

  function toggleMenu() {
    navBar.classList.toggle("hidden");
  }
</script>
